{% extends "base.html" %}
{% block title %}
<title>Intel MicroService Dashboard -- details </title>
{% endblock %}
{% block webtitle %}
<h4 class="page-title pull-left">details</h4>
{% endblock %}
{% block subTitle %}
<li><span>details</span></li>
{% endblock %}
{% block maincontent %}
<div class="main-content-inner" style="background-color:white;">
    <div style="height:45px;"></div>
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
        <div class="card">
            <div style="text-align: center;">
<!--                <table id="example" class="layui-table" lay-size="sm" role="grid" aria-describedby="example_info">-->
<!--                    <thead>-->
<!--                    <tr class="t_head">-->
<!--                        <th>MircoService<i style="cursor:pointer;color:white;" class="fa fa-1x fa-arrow-down"></i></th>-->
<!--                        <th>Category<i style="cursor:pointer;color:white;" class="fa fa-1x fa-arrow-down"></i></th>-->
<!--                        <th>Status<i style="cursor:pointer;color:white;" class="fa fa-1x fa-arrow-down"></i></th>-->
<!--                        <th>ClearBundle<i style="cursor:pointer;color:white;" class="fa fa-1x fa-arrow-down"></i></th>-->
<!--                        <th>ClearPackage<i style="cursor:pointer;color:white;" class="fa fa-1x fa-arrow-down"></i></th>-->
<!--                        <th>Performance<i style="cursor:pointer;color:white;" class="fa fa-1x fa-arrow-down"></i></th>-->
<!--                        <th>Size<i style="cursor:pointer;color:white;" class="fa fa-1x fa-arrow-down"></i></th>-->
<!--                        <th>Comment<i style="cursor:pointer;color:white;" class="fa fa-1x fa-arrow-down"></i></th>-->
<!--                    </tr>-->
<!--                    </thead>-->
<!--                    <tbody>-->

<!--                    </tbody>-->
<!--                </table>-->
            </div>
        </div>
    </div>
</div>
{% endblock %}
